# WhatsApp Bot
WHATSAPP_TOKEN=your_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_VERIFY_TOKEN=your_webhook_verify_token

# Server
PORT=3000
CLIENT_ORIGIN=http://localhost:3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/shuru-bot

# SMS OTP (AdvantaSMS / TiaraConnect)
ADVANTA_SMS_URL=your_sms_api_url
ADVANTA_API_KEY=your_sms_api_key
ADVANTA_PARTNER_ID=your_partner_id
ADVANTA_SHORTCODE=CONNECT
APP_NAME=Millenium Solutions E.A. Ltd

# M-Pesa (Daraja API)
MPESA_BASE_URL=https://sandbox.safaricom.co.ke
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORTCODE=your_shortcode
MPESA_PASSKEY=your_passkey
TILL_NO=your_till_number
MPESA_TRANSACTIONTYPE=CustomerBuyGoodsOnline
MPESA_CALLBACK_URL=https://your-ngrok-urlorbackend.com/api/stkpush/callback
